.emailList{
    flex:1;
    overflow: scroll;
}


.emailList__settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right:10px;

}

.emailList__sections{
    position:sticky;
    top:0;
    display:flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}


@media only screen and ( max-width:500px) {
    .emailList__settings{
        display: none;
    }
}